.idea
localhost/*.crt
localhost/*.key
localhost/*.packed
node_modules
server/.sequelize*
tsconfig.tsbuildinfo
*.pem
*.code-workspace
logs
.DS_Store
.env*
yarn-error.log
dist
.vscode
storybook-static
.dccache
/config/
/tmp/
screenshotsDiff/test.spec.js-snapshots   
screenshotsDiff/test-results  
