{
  "extends": "../.eslintrc",
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "@typescript-eslint/no-empty-function": "off"
  }
}
